
body.post-type-archive-company {

	.main-filter-query-wrapper {
		.is-hidden {
			display: none !important;
		}

		ul.secondary-menu {
			li,
			span.filter-label {
				
				padding: 0.25rem 0.25rem;
				margin: 0.5rem 0.25rem;
				color: var(--contrast-2);
			}

			span.filter-label {
				// width: 100% !important;
				font-size: 1.25rem;
				font-weight: 300;
				display: block;
				margin: 0.5rem 0.25rem 2rem 0.25rem;
				padding: 0.5rem 0.5rem;
				// background: linear-gradient(90deg, var(--base) 0%, var(--base-3) 100%);
				border-bottom: 2px solid var(--base);
			}

			li a {
				text-transform: uppercase;
				color: var(--contrast-2);
				margin: 1rem 1rem 0rem 0rem;

			}

			li a.active {
				color: var(--accent);
				font-weight: 600;
			}

			.filter:hover,
			.filter:focus,
			.filter.active,
			.reset-filters:hover,
			.reset-filters:focus,
			.reset-filters.active {
				color: var(--accent);
			}

			.filter.active,
			.reset-filters.active {
				display: inline;
				justify-content: space-between;
			}

			li a.filter.active::after,
			li a.reset-filters.active::after {
				content: url(selected.svg);
				max-height: 1rem;
				max-width: 1rem;
				position: absolute;
				top: 50%;
				right: 0.5rem;
				transform: translateY(calc(-50% - 2px));
				fill: var(--accent) !important;

			}
			li a.reset-filters:hover {
				cursor: pointer;
			}
		}
	}
	.dynamic-term-class {
		color: var(--base-2);
		font-weight:600;
		&:after{
			content: ", ";
		}
		&:last-child:after {
			content: "";
		}
	}
}







