body.post-type-archive-company .main-filter-query-wrapper .is-hidden {
  display: none !important; }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu li,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu span.filter-label {
  padding: 0.25rem 0.25rem;
  margin: 0.5rem 0.25rem;
  color: var(--contrast-2); }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu span.filter-label {
  font-size: 1.25rem;
  font-weight: 300;
  display: block;
  margin: 0.5rem 0.25rem 2rem 0.25rem;
  padding: 0.5rem 0.5rem;
  border-bottom: 2px solid var(--base); }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu li a {
  text-transform: uppercase;
  color: var(--contrast-2);
  margin: 1rem 1rem 0rem 0rem; }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu li a.active {
  color: var(--accent);
  font-weight: 600; }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .filter:hover,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .filter:focus,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .filter.active,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .reset-filters:hover,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .reset-filters:focus,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .reset-filters.active {
  color: var(--accent); }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .filter.active,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu .reset-filters.active {
  display: inline;
  justify-content: space-between; }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu li a.filter.active::after,
body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu li a.reset-filters.active::after {
  content: url(selected.svg);
  max-height: 1rem;
  max-width: 1rem;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  -webkit-transform: translateY(calc(-50% - 2px));
          transform: translateY(calc(-50% - 2px));
  fill: var(--accent) !important; }

body.post-type-archive-company .main-filter-query-wrapper ul.secondary-menu li a.reset-filters:hover {
  cursor: pointer; }

body.post-type-archive-company .dynamic-term-class {
  color: var(--base-2);
  font-weight: 600; }
  body.post-type-archive-company .dynamic-term-class:after {
    content: ", "; }
  body.post-type-archive-company .dynamic-term-class:last-child:after {
    content: ""; }
